//
   Created by cz on 14-2-28.

doctype html
html
    head
        title
        link(rel='stylesheet', href='/js/easyui/themes/default/easyui.css')
        link(rel='stylesheet', href='/js/easyui/themes/icon.css')
        script(type='text/javascript',src='/js/easyui/jquery.min.js')
        script(type='text/javascript',src='/js/easyui/jquery.easyui.min.js')
        script(type='text/javascript',src='/js/easyui/jquery.edatagrid.js')



    body.easyui-layout
        div(data-options="region:'north',title:'欢迎#{session.logininfo.username}',split:true",style='height:30px;')
        div(data-options="region:'west',title:'',split:true",style='width:300px')
            div.easyui-accordion
                div(title='系统管理',style="overflow:auto;padding:10px;")
                    ul
                        li
                            div.selected
                                a(href="#",onclick="javascript:user()") 用户管理

        div#center(data-options="region:'center'",style="padding:5px;background:#eee;")
                div#ctt(class="easyui-tabs")
                    div(title="信息",data-options="closable:true")
                        h1 欢迎登录后台,#{session.logininfo.username}


        script(type='text/javascript').
           function user(){
                $('#ctt').tabs('add',{
                    title: '用户管理',
                    selected: true,
                    href:'/admin/adminUserIndex',
                    closable:true
                });
           }