//
   Created by cz on 14-2-28.

doctype html
html
    head
        title
        link(rel='stylesheet', href='/js/easyui/themes/default/easyui.css')
        link(rel='stylesheet', href='/js/easyui/themes/icon.css')
        script(type='text/javascript',src='/js/easyui/jquery.min.js')
        script(type='text/javascript',src='/js/easyui/jquery.easyui.min.js')



    body.easyui-layout
        div(data-options="region:'north',title:'欢送#{session.logininfo.username}',split:true",style='height:30px;')
        div(data-options="region:'west',title:'菜单管理',split:true",style='width:300px')
        div(data-options="region:'center',title:'模块'",style="padding:5px;background:#eee;")
