<!DOCTYPE html>
<html>
<head>
    <title>后台登录</title>
</head>
<body>
    <form method="post" action="/admin/login">
        <table>
            <tr>
                 <td>用户名：</td>
                 <td> <input type="input" name="username"/></td>
            </tr>
            <tr>
                 <td>密码：</td>
                 <td> <input type="password" name="pwd"/></td>
            </tr>
            <tr >
                <td colspan="2"><input type="submit" value="提交" /></td>
            </tr>
            <tr>
                <td>
                   <% if(typeof(username)!="undefined"){
                        %>
                         <%= username %>
                         <%
                    } %>
                </td>
            </tr>

        </table>

    </form>

</body>
</html>