doctype html
html
    head
        title 后台登录
        link(rel='stylesheet', href='/js/easyui/themes/default/easyui.css')
        link(rel='stylesheet', href='/js/easyui/themes/icon.css')
        script(type='text/javascript',src='/js/easyui/jquery.min.js')
        script(type='text/javascript',src='/js/easyui/jquery.easyui.min.js')

    body
            div(style='width:500px;margin:300px auto;')
                div.easyui-panel(title='登录',style='width:400px')
                    div(style='padding:10px 0 10px 60px')
                        form#ff(method='post')
                            table
                                tr
                                    td 用户名：
                                    td
                                        input.easyui-validatebox(type='text',name='username',data-options='required:false')
                                tr
                                    td  密码：
                                    td
                                        input.easyui-validatebox(type='text',name='pwd',data-options='required:false')
                    div(style='text-align:center;padding:5px')
                        a.easyui-linkbutton(href='javascript:void(0)',onclick='submitForm()') 登录
                        a.easyui-linkbutton(href='javascript:void(0)',onclick='clearForm()') 清除
            script(type='text/javascript').
                        function submitForm(){
                           $('#ff').submit();
                        }
                        function clearForm(){
                            $('#ff').form('clear');
                        }

                        $('#ff').form({
                            url:'/admin/login',
                            dataType:'json',
                            onSubmit: function(){

                            },
                            success:function(data){
                                var data = eval('(' + data + ')');
                                if(data.login === 0){
                                   $.messager.alert('登录信息','用户名和密码不存在');
                                }else if(data.login === 1){
                                   window.location.href="/admin/index";
                                }
                            }
                        });