table#productlist(title="商品列表",style="width:700px;height:250px",singleSelect="true",class="easyui-datagrid",rownumbers="true",toolbar="#productlisttoolbar",url="/admin/productlist")
    thead
        tr
            th(field="title",editor="{type:'validatebox',options:{required:true}}") 商品名称
            th(field="desc",editor="{type:'validatebox',options:{required:true}}") 商品描述
            th(field="price",editor="{type:'validatebox',options:{required:true}}") 商品价格
div#productlisttoolbar
    a(href="javascript:void(0)",onclick="",class="easyui-linkbutton",iconCls="icon-add",plain="true") 新增
    a(href="javascript:void(0)",onclick="",class="easyui-linkbutton",iconCls="icon-remove",plain="true") 删除
    a(href="javascript:void(0)",onclick="",class="easyui-linkbutton",iconCls="icon-add",plain="true") 保存
    a(href="javascript:void(0)",onclick="",class="easyui-linkbutton",iconCls="icon-undo",plain="true") 取消
    script(type='text/javascript').

