doctype html
html
    body
        table#dg(title="用户列表",style="width:700px;height:250px",singleSelect="true",class="easyui-datagrid",rownumbers="true",idField="_id",toolbar="#toolbar",method="post")
            thead
                tr
                    th(field="username",width="50") 用户名
                    th(field="pwd",width="50") 密码

        div#toolbar
             a(class="easyui-linkbutton",iconCls="icon-add",plain="true")新增

        script(type='text/javascript').
               $(function(){
                    $('#dg').edatagrid({
                        url: '/admin/userlist',
                        saveUrl: 'save_user.php',
                        updateUrl: 'update_user.php',
                        destroyUrl: 'destroy_user.php'
                     });
               });

