table#userlist(title="用户列表",style="width:auto;height:auto",singleSelect="true",class="easyui-datagrid",rownumbers="true",idField="_id",toolbar="#userlisttoolbar")
    thead
        tr
            th(field="username",width="100",editor="{type:'validatebox',options:{required:true}}") 用户名
            th(field="pwd",width="100",editor="{type:'validatebox',options:{required:true}}") 密码
div#userlisttoolbar
    a(href="javascript:void(0)",onclick="javascript:$('#userlist').edatagrid('addRow')",class="easyui-linkbutton",iconCls="icon-add",plain="true") 新增
    a(href="javascript:void(0)",onclick="javascript:$('#userlist').edatagrid('destroyRow')",class="easyui-linkbutton",iconCls="icon-remove",plain="true") 删除
    a(href="javascript:void(0)",onclick="javascript:$('#userlist').edatagrid('saveRow')",class="easyui-linkbutton",iconCls="icon-add",plain="true") 保存
    a(href="javascript:void(0)",onclick="javascript:$('#userlist').edatagrid('cancelRow')",class="easyui-linkbutton",iconCls="icon-undo",plain="true") 取消
script(type='text/javascript').
               $(function(){
                    $('#userlist').edatagrid({
                        url: '/admin/userlist',
                        saveUrl: '/admin/adduser',
                        updateUrl: '/admin/updateuser',
                        destroyUrl: '/admin/deluser'
                     });
               });

