//
   Created by cz on 14-2-22.
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/superfish.css')
        link(rel='stylesheet', href='/stylesheets/prettyPhoto.css')
        link(rel='stylesheet', href='/stylesheets/responsive.css')
        link(rel='stylesheet', href='/stylesheets/flexslider.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        meta(http-equiv='Content-Type',content='text/html; charset=utf-8')

    body
        div.wrapper
            div.topbar.clearfix
                ul.social-icons
                    li
                        a(href='#')
                            span#twitter_icon

